{% if env == 'production' %}
  {% assign asset_url='http://teezilla.s3.amazonaws.com' %}
{% elsif env == 'staging' %}
  {% assign asset_url='http://teezilla.s3.amazonaws.com' %}
{% else %}
  {% assign asset_url='http://teezilla-assets' %}
{% endif %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="content-language" content="en" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

  <title>
    {% if idea %}
      {{idea.title}} &middot; {{space.title}}
    {% else %}
      {{space.title}}
    {% endif %}
  </title>
  <meta name="description" content="{{space.summary}}" />
  <meta name="author" content="" />

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {% if idea %}
    <meta property="og:title" content="{{ idea.title }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://teezilla.rusic.com{{ idea.permalink }}"/>
    <meta property="og:image" content="{{idea.images.first.square}}"/>
    <meta property="og:site_name" content="{{space.title}}"/>
    <meta property="og:description" content="{{ idea.content }}" />
  {% else %}
    <meta property="og:title" content="{{space.title}}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="http://teezilla.rusic.com/"/>
    <meta property="og:image" content="http://teezilla.s3.amazonaws.com/images/apple-touch-icon-114x114.png"/>
    <meta property="og:site_name" content="{{space.title}}"/>
    <meta property="og:description" content="{{space.summary}}" />
  {% endif %}
  
  <link rel="shortcut icon" href="{{asset_url}}/images/favicon.ico">
  <link rel="apple-touch-icon" sizes="72x72" href="{{asset_url}}/images/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{asset_url}}/images/apple-touch-icon-114x114.png">

  {{content_for_header}}

  <link href="{{asset_url}}/stylesheets/application.css" media="screen" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" type="text/css" href="{{asset_url}}/javascripts/fancybox/jquery.fancybox-1.3.4.css" media="screen" />
  <!--[if lte IE 8]><link href="{{asset_url}}/stylesheets/ie.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js" type="text/javascript"></script>
  <script src="{{asset_url}}/javascripts/fancybox/jquery.fancybox-1.3.4.pack.js" type="text/javascript"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js" type="text/javascript"></script>

  <script src="{{asset_url}}/javascripts/libs/jquery.form.js" type="text/javascript"></script>
  <script src="{{asset_url}}/javascripts/libs/jquery.validate.min.js" type="text/javascript"></script>

  <script src="{{asset_url}}/javascripts/application.js" type="text/javascript"></script>

</head>

<body>

  <div id="fb-root"></div>
    
  <div id="header_rail">
    
      <div id="support-topbar">
        <ul>
          <li class="about"><a id="inline" href="#teezilla-about">About Teezilla</a></li>
          <li><a href="http://teezilla.myshopify.com/" title="link to TeeZilla shop">Buy the Tee's</a></li>
          <li><a href="http://www.facebook.com/pages/TeeZilla/269323539774090" title="link to Teezilla on Facebook">Teezilla on Facebook</a></li>
          <li><a href="http://teezilla.rusic.com/teezilla-support" title="link to Teezilla support community">Support &amp; FAQs</a></li>
          <li><a href="http://teezilla.myshopify.com/pages/terms-conditions" title="link toTeezilla terms & conditions">Terms &amp; conditions</a></li>
        </ul>
      </div>
    
      <div id="header_content" class="clearfix">
          <a href="{{space.permalink}}" id="main_logo">
            Teezil.la Website
          </a>

      <ul id="main_nav">
        <li><a href="{{space.permalink}}" title="link to TeeZilla voting">Voting<span>Get Voting Now</span></a></li>
        <li><a href="http://teezilla.myshopify.com/" title="link to TeeZilla shop">Shop<span>Buy Winning Tees</span></a></li>
        <li class="last red_nav">
          {% if current_user %}
            <a href="/ideas/new" title="add a new entry" class="simple_login">
              <span class="submit-text">Submit Your Design</span>
              <span class="teaser-text">Upload your Tee design to Win</span>
            </a>
          {% else %}
            <a id="inline" href="#lightbox-sign-in" class="simple_login">
            <span class="submit-text">Submit Your Design</span>
            <span class="teaser-text">Upload your Tee design to Win</span>
            </a>
          {% endif %}
        </li>
      </ul>


      <div id="main_arrow"><!-- IE Fix --></div>

    </div><!-- #header_content end -->
    </div><!-- #header_rail end -->


  <div id="main_rail">
      <div id="main_content" class="clearfix">
      <div id="main_right_col">

          {% if error %}
            <div class="flash error">
              {{ error }}
            </div>
          {% endif %}

          {% if alert %}
            <div class="flash notice">
              {{ alert }}
            </div>
          {% endif %}

          {% if notice %}
            <div class="flash success">
              {{ notice }}
            </div>
          {% endif %}

          <!-- This will be replace with the template content -->
          {{ yield }}

        </div><!-- end #main_right_col -->

      <div id="main_left_col">

        <div class="block_wrapper">
          <h2>How to take part:</h2>
          <ol>
            <li>Login with your Facebook or Twitter account</li>
            <li>Vote on the designs that you like</li>
          </ol>
          
          <h2>Feeling arty?  Fancy some cash?</h2>
          <ol>
            <li>Login with your Facebook or Twitter account</li>
            <li>Submit your own design</li>
            <li>Get as many votes as possible in 14 days</li>
            <li>Every month the top design gets printed and sold in the shop and the winner gets a cut of the sales... Amazing!</li>
          </ol>

        </div><!-- end .block_wrapper -->

        <div id="sidebar-sign-in" class="block_wrapper">
          {% if current_user %}
            <h2>Hey {{current_user.nickname}}!</h2>
            <p>
              You're signed in. <a href="/auth/signout" title="Sign out of {{current_user.provider}}">Sign out</a>
            </p>
          {% else %}
            <h2>Sign in to vote &amp; submit your design.</h2>
            <p>
              <a href="/auth/facebook" title="Sign in with Facebook" class="facebook_grey">Sign in with Facebook</a>
            </p>
            <p>
              <a href="/auth/twitter" title="Sign in with Twitter" class="twitter_grey">Sign in with Twitter</a>
            </p>
          {% endif %}
        </div>

        <div class="block_wrapper">
          <h3>Last Month's Winner</h3>

            <div class="medium_thumb clearfix">
              <a href="http://teezilla.myshopify.com/collections/latest-tshirts" title="link to Joshua K. Marshall's tee in the Teezilla store">
                <img src="{{asset_url}}/images/winner_march12.png" alt="Motubu aka" />
              </a>
              <p>
                <a href="http://teezilla.myshopify.com/collections/latest-tshirts" title="link to #'s tee in the Teezilla store" class="title_of_tee">
                  Motubu aka
                </a>
                <span class="name_of_designer">by Joshua K. Marshall</span>
              </p>
              <a href="http://teezilla.myshopify.com/collections/latest-tshirts" title="link to buy {{idea.title}} tee" class="grey_button">
                Buy Tee
              </a>

            </div>

        </div><!-- end .block_wrapper -->


        <div class="block_wrapper clearfix">
          <h3>Most popular Tees</h3>

          {% for idea in space.most_liked_ideas limit:6 %}
            <div class="small_thumb">
              <a href="{{idea.permalink}}"title="link to {{idea.title}}">
                <img src="{{idea.images.first.square}}" alt="{{idea.title}} Tee" />
                <span class="title_of_tee">{{idea.title | truncate: 11}}</span>
              </a>
            </div><!-- end of .small_thumb -->
                {% endfor %}

        </div><!-- end .block_wrapper -->


        <div class="block_wrapper clearfix">
          <h3>Latest Tees</h3>
          {% for idea in space.ideas limit:6 %}
            <div class="small_thumb">
              <a href="{{idea.permalink}}" title="link to {{idea.title}}">
                <img src="{{idea.images.first.square}}" alt="{{idea.title}} Tee" />
                <span class="title_of_tee">{{idea.title | truncate: 11}}</span>
              </a>
            </div><!-- end of .small_thumb -->
          {% endfor %}
        </div><!-- end .block_wrapper -->




          </div><!-- end #main_left_col -->

    </div><!-- #main_content end -->
  </div><!-- #main_rail end -->

  <div id="facebook_twitter_login_form" class="none">
    <form id="login_form" method="post" action="#">
      <p>
        Please Login with Facebook or Twitter:
      </p>
      <div class="fancybox_facebook_login_wrap clearfix">
        <a href="/auth/facebook" title="Sign in with Facebook" class="facebook_blue">Login with Facebook</a>
        <a href="/auth/twitter" title="Sign in with Twitter" class="twitter_blue">Login with Twitter</a>
      </div><!-- end #fancybox_facebook_login_wrap -->
    </form>

  </div><!-- end #facebook_twitter_login -->

  <div id="facebook_twitter_vote_form" class="none">
    <form id="vote_form" method="post" action="#">
      <p>
        Login with Facebook or Twitter and Vote for the Tee:
      </p>
      <h3>{{idea.title}}</h3>

      <div class="fancybox_facebook_login_wrap clearfix">
        <a href="/auth/facebook" title="Sign in with Facebook" class="facebook_blue">Sign in with Facebook</a>
        <a href="/auth/twitter" title="Sign in with Twitter" class="twitter_blue">Sign in with Twitter</a>
      </div><!-- end #fancybox_facebook_login_wrap -->
    </form>

  </div><!-- end #facebook_twitter_vote_form -->

  <div id="winning_design_subscription" class="none">
    <form action="/user" method="post" id="winning_design_subscription_form" data-user-has-email-address="{{current_user.has_email_address?}}" name="winning_design_subscription_form" class="validate" novalidate>
      <input type="hidden" name="_method" value="put">
      <h2>Thanks for voting!</h2>
      <p>If you want us to notify you if this design wins,<br />enter your email address below:</p>
      <p class="error none">Oops! Please correct the following fields:</p>
      <div class="mc-field-group">
        <label for="user_email">Email Address</label>
        <input type="email" value="" name="user[email]" class="required email" id="user_email">
      </div>

      <div class="clear">
        <input type="submit" value="Notify me" name="subscribe" id="mc-embedded-subscribe" class="button big_red_button">
      </div>
    </form>
  </div>

  {% unless current_user %}
  <div style="display:none">
    <div id="lightbox-sign-in">
      <h2>Sign in to vote &amp; submit your design:</h2>
      <p>
        <a href="/auth/facebook" title="Sign in with Facebook" class="facebook_grey">Sign in with Facebook</a>
      </p>
      <p>
        <a href="/auth/twitter" title="Sign in with Twitter" class="twitter_grey">Sign in with Twitter</a>
      </p>
    </div>
  </div>
  {% endunless %}
  
  <!-- About Teezilla -->
  <div style="display:none">
    <div id="teezilla-about" class="htmlbox">
      <h1>About Teezilla</h1>
      <p>TeeZilla is a site where anyone with an idea can join up, submit their designs and be in with a chance of getting their design printed on a tee and get a nice cut from the sales!</p>
      <p>The idea of TeeZilla has been formed by a partnership between web company Simpleweb, based on the Bristol Harbourside and ex record producer and entrepreneur Neal Slateford.</p>
      <p>TeeZilla invites you to join up and submit as many tee-shirt designs as you like.  They are then exhibited on the site for 14 days.  In this time other users can log in and vote for their favourite designs through Facebook and / or Twitter, as well as leaving comments. At the end of every month the design with the most votes will get their image printed onto a tee and get £6 for every tee-shirt sold through the TeeZilla shop. Plus, another lucky winner, picked by the TeeZilla team, will get their design put on a tee-shirt too - and receive £6 per sale!  Brilliant!</p>
      <p>Cast your votes or submit a design now and join the TeeZilla community.</p>
    </div>
  </div>

  <div id="footer_rail">
      <div id="footer_content" class="clearfix">

      <div id="top_share_icons_wrap">
        {% if idea %}
        <a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]={{idea.title}}&amp;p[summary]={{idea.content}}&amp;p[url]=http://teezilla.rusic.com{{idea.permalink}}&amp;&amp;p[images][0]={{idea.images.first.medium_large}}','sharer','toolbar=0,status=0,width=650,height=325');" href="javascript: void(0)" class="facebook_grey">Share on Facebook</a>
        {% else %}
        <a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]={{space.title}}&amp;p[summary]={{space.summary}}&amp;p[url]=http://teezilla.rusic.com&amp;&amp;p[images][0]=http://teezilla.s3.amazonaws.com/images/apple-touch-icon-114x114.png','sharer','toolbar=0,status=0,width=650,height=325');" href="javascript: void(0)" class="facebook_grey">Share on Facebook</a>
        {% endif %}
        
        <a href="http://twitter.com/share?text=I'm checking out TeeZilla!&amp;count=none&amp;via=TeeZilla&amp;related=rusicHQ" title="Share this page on Twitter" class="lnkShareTwitter twitter_grey">Share on Twitter</a>
      </div>

      <p><a href="#">Teezilla</a> is <a href="http://rusic.com" title="link to Rusic">powered by Rusic</a> &copy;2012  </p>


        </div><!-- #footer_content end -->
    </div><!-- #footer_rail end -->

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1018269-24']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
  <!-- Optimizely -->
  <script src="//cdn.optimizely.com/js/42790142.js"></script>

</body>
</html>